//PART 1
$info-color: #686de0;
$general-color: white;
$back-color: #c3cfe2;
$text-color: white;
$radius-style: 2rem;
$width-wrapper: 720px - 2 * 39px;
/*M.b.v. de devTools is gekeken hoe breed de orignele afbeelding is.
Aan de zijkant van de daadwerkelijke afbeelding zit nog ruimte vandaar de minus.*/
$shadow-color: #888888;
$shadow-top: 0 0px 0px 0px $back-color;
$shadow-top-info: 0 -10px 0px 0px $general-color;
$shadow-left: 4px 0 16px -6px $shadow-color;
$shadow-right: -4px 0 16px -6px $shadow-color;
$shadow-bottom: 0 20px 16px -6px $shadow-color;

@mixin shadow_box($shadow1, $shadow2) {
  box-shadow: $shadow1, $shadow2, $shadow-left, $shadow-right;
}

body {
  background-color: $back-color;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
}

.part1 {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  flex-direction: column;
  grid-auto-columns: $width-wrapper;
  grid-template-rows: 500px 0 250px;
  /*M.b.v. de devTools is gekeken hoe hoog de orignele afbeelding is.
    Vervolgens is gekeken hoe hoog de afzonderlijke delen zijn.*/
  justify-items: center;
  .general {
    border-top-left-radius: $radius-style;
    border-top-right-radius: $radius-style;
    background-color: $general-color;
    color: #595959;
    line-height: 3.5rem;
    padding: 2rem 4.5rem 0rem 4.5rem;
    @include shadow_box($shadow-top, $shadow-top);
  }
  img {
    width: 15rem;
    border: 0.8rem solid white;
    border-radius: 50%;
    transform: translateY(-(15rem/2)) scale(0.7);
  }
  .info {
    background-color: $info-color;
    width: $width-wrapper;
    color: $text-color;
    padding-top: 7rem;
    text-align: center;
    line-height: 3rem;
    border-bottom-left-radius: $radius-style;
    border-bottom-right-radius: $radius-style;
    @include shadow_box($shadow-top-info, $shadow-bottom);
    h1 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
    }
    p {
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      opacity: 50%;
    }
  }
}

//Responsiveness PART1
@media screen and (max-width: 960px) {
  .part2 {
    grid-template-columns: repeat(2, 1fr);
    img {
      zoom: 1.2;
    }
  }
}
