//PART 1
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$info-color: #686de0;
$general-color: white;
$back-color: #c3cfe2;
$text-color: white;
$radius-style: 2rem;
$width-wrapper: 720px - 2 * 39px;
/*M.b.v. de devTools is gekeken hoe breed de orignele afbeelding is.
Aan de zijkant van de daadwerkelijke afbeelding zit nog ruimte vandaar de minus.*/
$shadow-color: #888888;
$shadow-top: 0 0px 0px 0px $back-color;
$shadow-top-info: 0 -10px 0px 0px $general-color;
$shadow-left: 4px 0 16px -6px $shadow-color;
$shadow-right: -4px 0 16px -6px $shadow-color;
$shadow-bottom: 0 20px 16px -6px $shadow-color;

@mixin shadow_box($shadow1, $shadow2) {
  box-shadow: $shadow1, $shadow2, $shadow-left, $shadow-right;
}

body {
  background-color: $back-color;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 600;
}

.part1 {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  flex-direction: column;
  grid-auto-columns: $width-wrapper;
  grid-template-rows: 500px 0 250px;
  /*M.b.v. de devTools is gekeken hoe hoog de orignele afbeelding is.
    Vervolgens is gekeken hoe hoog de afzonderlijke delen zijn.*/
  justify-items: center;
  .general {
    border-top-left-radius: $radius-style;
    border-top-right-radius: $radius-style;
    background-color: $general-color;
    color: #595959;
    line-height: 3.5rem;
    padding: 2rem 4.5rem 0rem 4.5rem;
    @include shadow_box($shadow-top, $shadow-top);
  }
  img {
    width: 15rem;
    border: 0.8rem solid white;
    border-radius: 50%;
    transform: translateY(-(15rem/2)) scale(0.7);
  }
  .info {
    background-color: $info-color;
    width: $width-wrapper;
    color: $text-color;
    padding-top: 7rem;
    text-align: center;
    line-height: 3rem;
    border-bottom-left-radius: $radius-style;
    border-bottom-right-radius: $radius-style;
    @include shadow_box($shadow-top-info, $shadow-bottom);
    h1 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
    }
    p {
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      opacity: 50%;
    }
  }
}

//PART2
$back-color-img: rgb(57, 50, 50);

.part2 {
  margin: 10rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  gap: 2rem;
  .parent {
    position: relative;
    background-color: $back-color-img;
    border-radius: 5%;
    &:hover {
      .child:hover {
        opacity: 100%;
      }
      img:hover {
        opacity: 0%;
      }
    }
    img {
      top: 0;
      border-radius: 5%;
      width: 100%;
      height: 100%;
      transition: 500ms opacity ease-in;
      &:hover {
        opacity: 0%;
      }
    }
  }
  .child {
    background-color: $back-color-img;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5%;
    opacity: 0%;
    transition: 500ms opacity ease-in;
    &:hover {
      opacity: 100%;
    }
  }
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

//PART3
$height_button: 0.3em;

@mixin hover_after($content-text) {
  width: 9em;
  height: $height_button;
  &::after {
    content: $content-text;
    font-size: 0.5em;
    text-decoration: underline;
    font-family: "Open Sans";
    color: white;
  }
  text-align: right;
}

@mixin before_mixin($content-code, $weight) {
  content: $content-code;
  display: grid;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  justify-items: center;
  align-content: center;
  font-family: "Font Awesome 5 Brands";
  font-weight: $weight;
  color: white;
  width: 2rem;
  height: $height_button;
  font-size: 0.875em;
}

@mixin before_hover($content-code, $weight) {
  @include before_mixin($content-code, $weight);
  justify-items: start;
  transform: translateY((0.6em/2));
}

.part3 {
  margin: 5rem 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-items: end;
}

.fa,
.fa:hover {
  display: grid;
  padding: 1.1em 1em;
  transition-duration: 500ms;
  transition-property: width;
  align-content: center;
}

.fa-laptop-code {
  background-color: #e17b77;
  &:hover {
    @include hover_after("Check out my blog");
    &::before {
      @include before_hover("\f5fc", 900);
      font-family: "Font Awesome 5 Free";
    }
  }
  &::before {
    @include before_mixin("\f5fc", 900);
    font-family: "Font Awesome 5 Free";
  }
}

.fa-twitter {
  background-color: #00aced;
  &:hover {
    @include hover_after("Follow me on Twitter");
    &::before {
      @include before_hover("\f099", 400);
    }
  }
  &::before {
    @include before_mixin("\f099", 400);
  }
}

.fa-linkedin-in {
  background-color: #007bb6;
  &:hover {
    @include hover_after("Connect on Linkedin");
    &::before {
      @include before_hover("\f0e1", 400);
    }
  }
  &::before {
    @include before_mixin("\f0e1", 400);
  }
}

.fa-facebook-f {
  background-color: #3b5998;
  &:hover {
    @include hover_after("Like my Facebook page");
    &::before {
      @include before_hover("\f39e", 400);
    }
  }
  &::before {
    @include before_mixin("\f39e", 400);
  }
}

.fa-github {
  background-color: #333;
  &:hover {
    @include hover_after("See projects on Github");
    &::before {
      @include before_hover("\f09b", 400);
    }
  }
  &::before {
    @include before_mixin("\f09b", 400);
  }
}

//Responsiveness PART1
@media screen and (max-width: 960px) {
  .part2 {
    grid-template-columns: repeat(2, 1fr);
    img {
      zoom: 1.2;
    }
  }
}

//Responsiveness PART2
@media screen and (max-width: 767px) {
  .part2 {
    grid-template-columns: repeat(1, 1fr);
    img {
      zoom: 1.5;
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    zoom: 0.8;
  }
}

@media screen and (max-width: 530px) {
  .wrapper {
    zoom: 0.7;
  }
}

@media screen and (max-width: 460px) {
  .wrapper {
    zoom: 0.6;
  }
}
